.cuadroPrincipal {
  position: relative;
  width: 360px;
  height: 640px;
  background: #FFFFFF;
}

.cuadroSecundario {
  position: absolute;
  width: 336px;
  height: 613px;
  left: 10px;
  top: 14px;
  background: rgba(66, 232, 46, 0.18);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textBienvenido {
  position: absolute;
  width: 257px;
  height: 58px;
  left: 71px;
  top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.PlantaNegra {
  position: absolute;
  left: 120px;
  top: 87px;
  background: url(../assets/Planta_NegraPNG.png);
}

.iPlant {
  position: absolute;
  width: 260px;
  height: 80px;
  left: 91px;
  top: 215px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.contBtnLogin {
  background: rgba(66, 232, 46, 0.47);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 230px;
  height: 51px;
  left: 50px;
  top: 327px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.textBoton1 {
  text-decoration: none;
  position: absolute;
  width: 160px;
  height: 51px;
  left: 75px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.textO {
  position: absolute;
  width: 61px;
  height: 20px;
  left: 165px;
  top: 400px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.TextSinCuenta {
  position: absolute;
  width: 195px;
  height: 26px;
  left: 100px;
  top: 430px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.contBtnRegistro {
  background: #DCDCDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 167px;
  height: 51px;
  left: 98px;
  top: 471px;
  font-family: Roboto;
  font-size: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.textBoton2 {
  text-decoration: none;
  position: absolute;
  width: 170px;
  height: 51px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
