<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<link rel="stylesheet" href="OptimaStyle.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lectura Óptima</title>
</head>

<body>

<div class="cuadroPrincipal">
  <div class="cuadroSecundario">

    <div class="iPlant">
      <p>iPlant</p>
    </div>

    <div class="EscaneoCompleto">
      <p>¡Escaneo completo!</p>
    </div>

    <div class="imgConfirmacion">
      <img src="../../assets/checkImage.png" width="80px" height="80px">
      <br>
      <ion-button (click)="readBtSerial()" >Escanear </ion-button>

    </div>

    <div *ngIf=" humedadNum! >= 60 " >
      <app-porcentaje-humedad humed="{{humedad}}" ></app-porcentaje-humedad>
      <app-nivel-humedad></app-nivel-humedad>
    </div>

    <div *ngIf=" humedadNum! >= 40 && humedadNum! < 60 " >
      <app-porcentaje-humedad-medio humed= "{{humedad}}"></app-porcentaje-humedad-medio>
      <app-nivel-humedad-medio></app-nivel-humedad-medio>
    </div>

    <div *ngIf=" humedadNum! < 40 ">
      <app-porcentaje-humedad-bajo humed="{{humedad}}"></app-porcentaje-humedad-bajo>
      <app-nivel-humedad-bajo></app-nivel-humedad-bajo>
    </div>
  </div>
</div>
</body>
</html>
