<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iPlant - Conecte a Arduino
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<button (click)="activarBluetooth()">Buscar</button>
  <button routerLink="../escaneo">nada</button>
<div *ngFor="let data of devices" >
  <p>{{data.name}}</p>
  <p>{{data.id}}</p>
  <button (click)="connect(data.address)" routerLink="../escaneo">Conectar</button>

</div>

</ion-content>
